.page-menu{
    width: 40%;
    margin: 2rem auto;
   
}

.nav-menu ul{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
     background-color: #0c6d72;
    border-radius: .5rem;
    padding: 1rem;
}
.nav-menu ul li a {
    color: #fff;
    font-size: 1rem;
}