.change-password-container {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
  flex-direction: column;
}
.change-password-heading {
  font-size: 3rem;
  font-weight: 400;
}

.change-password-card {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40%;
  padding: 1rem;
  flex-direction: column;
}

.change-password-form{
  width: 70%;
 text-align: left;
}
.form label {
  display: block;
}


.change-password-btn {
  width: 100%;
  padding: 1rem 1.3rem;
  background-color: #0a565a;
  color: #fff;
  cursor: pointer;
  border: none;
  border-radius: 0.3rem;
  margin: 0.5rem 0;
  font-size: 1rem;
  transition: all 0.2s linear;
}
.change-password-btn:hover {
  background-color: #0c6d72;
}

@media screen and (max-width: 900px) {
  .change-password-card {
    width: 80%;
  }
}

@media screen and (max-width: 550px) {
  .change-password-card {
    width: 90%;
  }
  .change-password-form {
    width: 90%;
  }
}
